.App {
  text-align: center;
  background: rgb(248, 248, 248);
  min-height: 100vh;
}

nav {
  height: 8vh;
  width: 100%;
  padding: 5px;
  position: relative;
}

.padding-bot {
  padding-bottom: 40px;
}